*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue", Arial, sans-serif;
  font-size: 62.5%;
  height: 15rem;
  width: auto;
}

h1 {
  font-size: 5vh;
  color: #fff;
  background-color: #ff6347;
  text-align: center;
  width: 100%;
  padding: 5rem;
}
p{ 
  font-size: 1.8rem;
}
form {
  margin-left: 25%;
  padding: 2rem;
}

input {
  font-size: 3vh;
  border-radius: 10px;
  border: 1px solid #ff6347;
  width: 50%;
  height: 7rem;
  padding: 2rem;
  margin: 2.5rem;
}

#newTask,
#date,
#action,
#periodicity {
  color: #ff6347;
}

::placeholder {
  text-align: left;
  color: #ff6347;
  width: 100%;
}

input:hover,
input:active {
  background-color: #f6d7d1;
  border: 1px solid #ff6347;
}

button {
  display: block;
  font-size: 2.5vh;
  color: #fff;
  border-radius: 10px;
  background-color: #ff6347;
  border: 1px solid #ff6347;
  width: 18%;
  height: 3rem;
  margin-left: 20%;
  margin-top: 0.5rem;
}

button:hover {
  color: #ff6347;
  background-color: #f6d7d1;
}
.modal{
  display: flex;
  background-color: #f6d7d1;
}