*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bebas Neue";
}

h1 {
  font-size: 5dvh;
  color: #fff;
  background-color: #ff6347;
  text-align: center;
  width: 100%;
  height: 10rem;
  padding: 4rem;
}

input {
  display: flex;
  align-items: center;
  
  border-radius: 10px;
  border: 1px solid #ff6347;
  width: 50%;
  height: 5rem;
  padding: 2rem;
  margin: 3rem;
}
::placeholder {
  text-align: left;
  font-size: 3dvh;
  color: #ff6347;
}
button {
  display: block;
  font-size: 120%;
  color: #fff;
  border-radius: 20px;
  background-color: #ff6347;
  border: 1px solid #ff6347;
  width: 17%;
  height: 1.5rem;
  margin: 0.3rem;
}
